<figure class="snip1515 hoverable">
  <div class="profile-image"><%=avatar_for(current_user,size: 70)%></div>
  <figcaption>
    <h3><%=user.name %></h3>
    <h4>Public Relations</h4>
    <p>The only skills I have the patience to learn are those that have no real application in life. </p>
    <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
    

      <% if user.follow_string(current_user.id,user.id)== true%>
             <%= link_to('Unfollow', user_follow_path(user), remote:true,method: :post,id: "follow_#{user.id}") %>
             <%else%>
             <%= link_to('follow', user_follow_path(user), remote:true,method: :post,id: "follow_#{user.id}") %>
             <%end%>
      <a href="#"> <i class="ion-social-twitter"></i></a>
      <a href="#"> <i class="ion-social-vimeo"></i></a>
    </div>
  </figcaption>
</figure>