/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body{
  background-color: #FAFAFA;
}
nav#global{
    height: 70px;
      width:100%;
    padding-top: 0px;
      background-color: white;
    box-shadow: none;
      border-bottom: 1px solid rgba(0,0,0,0.25);
}
nav#minione.nav-extended{
 
  width: 30%;
   height: 69px;
    box-shadow: none;
      border-bottom: 1px solid rgba(0,0,0,0.25);
}
html body div.navbar-fixed nav#global div.nav-wrapper.white div.container.navbar div.left.hide-on-med-and-down div.nav-wrapper.mini.white nav#minione.nav-extended div.nav-content{
  margin-top: 21px;
  height: 69px;
}

/*nav .nav-wrapper{

/*  padding-left: 130px;
  padding-right: 110px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 75px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}*/

html body nav div.nav-wrapper.white ul#nav-mobile.tabs{
  width: 596px;
height: 69px;

}
html body nav div.nav-wrapper.white ul#nav-mobile.right.hide-on-med-and-down li.indicator{
  color: #66757f; /*grey*/

}
html body nav div.nav-wrapper.white ul#nav-mobile.right.hide-on-med-and-down li a{
  color: #66757f; /*grey*/

}
html body nav div.nav-wrapper.white ul#nav-mobile.right.hide-on-med-and-down li a:hover{
  color: #0097a7;  /*cyan*/
  background-color: white;

}
#dropdown1.dropdown-content.active{
  min-width: 300px;
  top:70px;
}




div.globalsearch form.navsearch{
  float: left;
height: 33px;
margin: 20px 15px 0 0;
font-size: 12px;
width: 221px;
}
 div.globalsearch form.navsearch div.input-field input#search{
  background-color: #f5f8fa;
border-radius: 21px;
border: 1px solid #e6ecf0;
-moz-box-sizing: border-box;
box-sizing: border-box;
color: #14171a;
display: block;
font-size: 12px;
height: 32px;
line-height: 16px;
padding: 8px 32px 8px 12px;
transition: all .2s ease-in-out;
width: 100%;
}

 div.globalsearch form.navsearch div.input-field label.label-icon.right{
  left:12rem;
}
 div.globalsearch form.navsearch div.input-field label.label-icon.right i.material-icons{
  line-height: 36px;
  color:rgba(53, 38, 38, 0.7);
}
 div.globalsearch form.navsearch div.input-field label.label-icon.right.active i.material-icons{
  line-height: 36px;
  color:rgba(53, 38, 38, 0.7);
}

nav .brand-logo.center {
    left: 30%;
}


/*ul#dropdown1.noti.dropdown-content.active{
width: 170px;
top:75px;
}*/
.card.small.tag {
    height: 300px;
    width: 22%;
    margin-top: 43px;
    
}

  .card.small.tag:hover {

  box-shadow: 0 12px 12px rgba(0, 0, .6, .6);

}

#tag_cloud {
  padding: 2px;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
height: 255px;
}

#tag_cloud .chip{
  font-size: inherit;
  line-height: 1.6em;
  padding-top: 5px;
  
  height: auto;
}
#tag_cloud .chip a.sml{
font-size: 0.8em; 
  
}
#tag_cloud .chip a.med{

  font-size: 1.2em; 

}
#tag_cloud .chip a.lar{

 font-size: 1.8em; 
}

.card.small.note {
    height: 300px;
    width: 18%;
    margin-top: 43px;
}
  .card.small.note:hover {

  box-shadow: 0 12px 12px rgba(0, 0, .6, .6);

}

/*.input-field input[type="search"]{
  background-color: white;

}
nav .input-field label i {
  color: rgba(53, 38, 38, 0.7);
  transition: color .3s;
}
nav ul#nav-mobile.right li{
  margin-left: 15px;
  margin-right: 15px;
}
*/